body {
  background: black;
  color: white;
  text-align: center
}

#content {
  margin-top: 50px;
}

#content h1 {
  text-decoration: underline
}

button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

h3 > button > span {
  color: blue;
}
